*#
*~
.DS_Store
.cache/
.lsp*
.swp
auto-save-list/
codeium/
config.el
eln-cache/
elpa/
eshell/history
eshell/lastdir
lsp-bridge/
org-persist/
recentf
sessions
straight/
tramp
transient/
url/
session*
